<!DOCTYPE html>
<html>
  <head>
    <title>Note</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <a href="/"><h1>Note</h1></a>
      </div>
      <%= yield %>
    </div>
    </div>
  </body>
</html>
